.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(36, 32, 18),black);
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}


.item {
    margin-right: 1em;   
}

.item a {
    color: aliceblue;
    text-decoration: none;
}

.item a:hover {
    color: rgb(246, 250, 0);
    text-decoration: none;
}

.img{
    width: 100px;
    height: 100px;
}