.formContainer {
    background: linear-gradient(#800f01,#000000);;
    color: white;
    width: 300px;
    height: 200px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid;
    border-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;


}

.txtContent {
    font-size: 20px;

}

.formContent {
    border: 2px solid;
    border-color: black;
    height: 22px;
    width: 125px;
    border-radius: 5px;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;

}


.buttonContent{
    height: 22px;
    width: 125px;
    border-radius: 5px;
    color: black;
    border: 2px solid;
    border-color: black;
    background-color: beige;
    margin-top: 5%;
    display: inline-block;
    
    
}

.labelArea{
    width: 50px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}