.register_content {
    margin: 0 auto;
    width: 300px;
    height: 400px;
   
}

.div_register {
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    display: flex;
    border-radius: 2%;
    text-align: center;
    margin-top: 100px;
}

.form_register {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.register_btn {
    max-width: 90px;
    align-self: center;
    margin-top: 1em !important;
}

.register_input {
    padding: .3em !important;
}

.register_alert {
    margin-top: 10px;
    width: auto;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
   
}